In [1]:
import pandas as pd
import numpy as np

In [2]:
o20 = pd.read_csv('../qual2020/clean2020qual_team.csv')

In [3]:
o16 = pd.read_csv('../qual2016/clean2016_team_qual.csv')

In [4]:
o12 = pd.read_csv('../qual2012/clean2012_team_qual.csv')

In [5]:
o08 = pd.read_csv('../qual2008/clean2008qual_team.csv')

In [6]:
o08.head(1)

,Country,Name,vault_score,vault_rank,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,total_score,total_rank,year
0,CHN,Yang Yilin,15.2,12.0,16.65,1.0,15.5,11.0,15.0,10.0,62.35,3.0,2008

In [13]:
o12.head(1)

,Country,Name,vault_score,vault_rank,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,total_score,total_rank
0,USA,Gabby Douglas,15.9,1.0,15.333,6.0,15.266,3.0,13.766,33.0,60.265,3.0

In [14]:
o16.head(1)

,Name,Country,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,vault1_score,vault2_score,vault_avg_score,vault_rank,total_score,total_rank
0,Simone Biles,USA,15.0,14.0,15.633,1.0,15.733,1.0,16.0,16.1,16.05,1.0,62.416,1.0

In [15]:
o20.head(1)

,Name,Country,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,vault1_score,vault2_score,vault_avg_score,vault_rank,total_score,total_rank
0,Lilia Akhaimova,ROC,12.9,49.0,12.266,59.0,13.633,11.0,14.766,14.633,14.699,7,53.565,28

In [17]:
o08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       73 non-null     object
 1   Name          73 non-null     object
 2   vault_score   73 non-null     float64
 3   vault_rank    73 non-null     float64
 4   uneven_score  73 non-null     float64
 5   uneven_rank   73 non-null     float64
 6   bb_score      73 non-null     float64
 7   bb_rank       73 non-null     float64
 8   floor_score   73 non-null     float64
 9   floor_rank    73 non-null     float64
 10  total_score   73 non-null     float64
 11  total_rank    73 non-null     float64
dtypes: float64(10), object(2)
memory usage: 7.0+ KB

In [18]:
o12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       60 non-null     object
 1   Name          60 non-null     object
 2   vault_score   60 non-null     float64
 3   vault_rank    60 non-null     float64
 4   uneven_score  60 non-null     float64
 5   uneven_rank   60 non-null     float64
 6   bb_score      60 non-null     float64
 7   bb_rank       60 non-null     float64
 8   floor_score   60 non-null     float64
 9   floor_rank    60 non-null     float64
 10  total_score   60 non-null     float64
 11  total_rank    60 non-null     float64
dtypes: float64(10), object(2)
memory usage: 5.8+ KB

In [20]:
o08to12 = pd.concat([o08, o12], axis=0)

In [21]:
o08to12.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133 entries, 0 to 59
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       133 non-null    object
 1   Name          133 non-null    object
 2   vault_score   133 non-null    float64
 3   vault_rank    133 non-null    float64
 4   uneven_score  133 non-null    float64
 5   uneven_rank   133 non-null    float64
 6   bb_score      133 non-null    float64
 7   bb_rank       133 non-null    float64
 8   floor_score   133 non-null    float64
 9   floor_rank    133 non-null    float64
 10  total_score   133 non-null    float64
 11  total_rank    133 non-null    float64
dtypes: float64(10), object(2)
memory usage: 13.5+ KB

In [25]:
o16to20 = pd.concat([o16, o20], axis=0)

In [27]:
o16to20.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 0 to 47
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             108 non-null    object
 1   Country          108 non-null    object
 2   uneven_score     108 non-null    float64
 3   uneven_rank      108 non-null    float64
 4   bb_score         108 non-null    float64
 5   bb_rank          108 non-null    float64
 6   floor_score      108 non-null    float64
 7   floor_rank       108 non-null    float64
 8   vault1_score     108 non-null    float64
 9   vault2_score     108 non-null    float64
 10  vault_avg_score  108 non-null    float64
 11  vault_rank       108 non-null    float64
 12  total_score      108 non-null    float64
 13  total_rank       108 non-null    float64
dtypes: float64(12), object(2)
memory usage: 12.7+ KB

In [28]:
# o16to20.to_csv('clean16to20_team_qual.csv', index=False)  # Set index=False to exclude index column

In [29]:
# o08to12.to_csv('clean08to12_team_qual.csv', index=False)  # Set index=False to exclude index column