In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../../scraping/women/gymternet/team2023camp.csv')

In [4]:
df

,Rank,Athlete,Club,VT,UB,BB,FX,AA
0,1,Simone Biles,World Champions,14.65,14.20,14.35,14.45,57.65
1,2,Joscelyn Roberson,World Champions,14.25,12.90,13.00,14.00,54.15
2,3,Katelyn Jong,Metroplex,13.85,13.75,12.25,13.40,53.25
3,4,Tiana Sumanasekera,World Champions,14.00,12.45,13.60,13.20,53.25
4,5,Nola Matthews,Airborne,12.90,13.60,13.15,13.15,52.80
5,6,Jade Carey,Oregon State,13.60,13.60,11.75,13.45,52.40
6,7,Dulcy Caylor,World Champions,13.90,12.60,12.50,12.90,51.90
7,8,Zoe Miller,World Champions,13.90,14.55,11.10,12.05,51.60
8,9,Leanne Wong,U of Florida,13.60,12.85,12.60,12.45,51.50
9,10,Simone Rose,Pacific Reign,13.20,13.60,12.05,11.95,50.80
10,11,Elle Mueller,Twin City Twisters,13.30,13.80,12.75,5.30,45.15
11,12,Skye Blakely,WOGA,14.25,14.35,14.05,0.00,42.65
12,13,Addison Fatta,Prestige,14.05,0.00,13.00,12.85,39.90
13,14,Kieryn Finnell,Rochester,0.00,13.60,13.30,0.00,26.90
14,15,Alicia Zhou,Love Gymnastics,0.00,14.00,12.85,0.00,26.85
15,16,Madray Johnson,WOGA,13.40,0.00,13.05,0.00,26.45
16,17,Tyler Turner,Airborne,0.00,12.65,11.25,0.00,23.90
17,18,Lexi Zeiss,Twin City Twisters,0.00,13.50,0.00,0.00,13.50
18,19,Hezly Rivera,WOGA,0.00,0.00,13.35,0.00,13.35
19,20,Kayla DiCello,Hill’s,0.00,0.00,12.40,0.00,12.40

In [5]:
df = df.drop(columns=["Club"])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     20 non-null     int64
 1   Athlete  20 non-null     object
 2   VT       20 non-null     float64
 3   UB       20 non-null     float64
 4   BB       20 non-null     float64
 5   FX       20 non-null     float64
 6   AA       20 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.2+ KB