In [1]:
import pandas as pd
import numpy as np

In [2]:
orp = pd.read_csv('../Data/oral-pitch.csv')
orb = pd.read_csv('../Data/oral-bat.csv')

In [3]:
orp = orp.drop(columns=['BK', 'IBB', 'W-L%', 'GF', 'CG', 'Rk', 'Notes'])
orp.head()

,Name,Age,W,L,ERA,G,GS,SHO,SV,IP,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
0,Price Allman,--,0,0,2.08,5,0,0,0,4.1,...,0,1,0,19,1.615,10.4,0.0,4.2,0.0,0.00
1,Josh Caravalho?,--,5,1,2.98,15,10,0,0,51.1,...,40,5,5,218,1.325,7.7,1.1,4.2,7.0,1.67
2,Cade Denton,21,2,1,1.85,33,0,0,15,58.1,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09
3,Conner Floyd?,--,1,0,3.00,3,0,0,0,3.0,...,7,1,0,15,1.333,3.0,0.0,9.0,21.0,2.33
4,Brooks Fowler?,--,9,1,3.27,16,16,0,0,77.0,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55

In [4]:
orp = orp.sort_values(by=['BF'], ascending=False)
orp.head()

,Name,Age,W,L,ERA,G,GS,SHO,SV,IP,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
15,15 Players,22.5,51,12,3.97,63,63,5,23,555.1,...,584,60,30,2367,1.277,8.0,1.2,3.5,9.5,2.73
6,Jakob Hall?,--,8,3,3.56,17,17,0,0,93.2,...,91,10,3,380,1.110,8.6,1.2,1.4,8.7,6.07
5,Harley Gollert*,24,10,1,4.30,17,16,0,0,88.0,...,88,7,1,376,1.295,8.5,1.6,3.2,9.0,2.84
4,Brooks Fowler?,--,9,1,3.27,16,16,0,0,77.0,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55
2,Cade Denton,21,2,1,1.85,33,0,0,15,58.1,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09

In [5]:
orp = orp[1:]
orp.head()

,Name,Age,W,L,ERA,G,GS,SHO,SV,IP,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
6,Jakob Hall?,--,8,3,3.56,17,17,0,0,93.2,...,91,10,3,380,1.110,8.6,1.2,1.4,8.7,6.07
5,Harley Gollert*,24,10,1,4.30,17,16,0,0,88.0,...,88,7,1,376,1.295,8.5,1.6,3.2,9.0,2.84
4,Brooks Fowler?,--,9,1,3.27,16,16,0,0,77.0,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55
2,Cade Denton,21,2,1,1.85,33,0,0,15,58.1,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09
1,Josh Caravalho?,--,5,1,2.98,15,10,0,0,51.1,...,40,5,5,218,1.325,7.7,1.1,4.2,7.0,1.67

In [6]:
orb = orb.drop(columns=['IBB', 'Notes', 'Rk', 'SH', 'CS', 'SB', 'GDP'])
orb.head()

,Name,Age,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
0,Preston Baumgartner?,--,16,27,21,2,5,1,0,1,7,4,11,0.238,0.370,0.429,0.799,9,1,1
1,Ryan Blackwell,21,14,25,20,4,5,2,0,0,2,3,10,0.250,0.400,0.350,0.750,7,2,0
2,Holden Breeze,22,63,287,240,48,76,12,0,6,42,33,48,0.317,0.404,0.442,0.846,106,5,4
3,Blaze Brothers,23,62,256,225,63,68,18,2,11,38,21,57,0.302,0.377,0.547,0.923,123,7,2
4,Garrett Casey?,--,15,44,36,5,8,0,0,2,6,6,7,0.222,0.349,0.389,0.738,14,1,0

In [7]:
orb = orb.sort_values(by=['PA'], ascending=False)
orb.head()

,Name,Age,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
18,18 Players,22.4,63,2675,2234,533,721,127,19,95,478,316,470,0.323,0.416,0.524,0.940,1171,64,34
10,Jake McMurray?,--,63,318,266,59,87,14,1,6,47,40,28,0.327,0.415,0.455,0.870,121,4,6
9,Mac McCroskey,23,63,305,258,65,80,10,2,13,62,34,45,0.310,0.393,0.516,0.908,133,5,6
5,Jonah Cox,21,63,302,262,69,110,16,8,11,67,30,49,0.420,0.480,0.668,1.148,175,3,3
2,Holden Breeze,22,63,287,240,48,76,12,0,6,42,33,48,0.317,0.404,0.442,0.846,106,5,4

In [8]:
orb = orb[1:]
orb.head()

,Name,Age,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
10,Jake McMurray?,--,63,318,266,59,87,14,1,6,47,40,28,0.327,0.415,0.455,0.870,121,4,6
9,Mac McCroskey,23,63,305,258,65,80,10,2,13,62,34,45,0.310,0.393,0.516,0.908,133,5,6
5,Jonah Cox,21,63,302,262,69,110,16,8,11,67,30,49,0.420,0.480,0.668,1.148,175,3,3
2,Holden Breeze,22,63,287,240,48,76,12,0,6,42,33,48,0.317,0.404,0.442,0.846,106,5,4
7,Matt Hogan*,23,60,278,208,59,69,12,3,18,70,51,65,0.332,0.477,0.678,1.154,141,12,6

In [9]:
orb

,Name,Age,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
10,Jake McMurray?,--,63,318,266,59,87,14,1,6,47,40,28,0.327,0.415,0.455,0.870,121,4,6
9,Mac McCroskey,23,63,305,258,65,80,10,2,13,62,34,45,0.310,0.393,0.516,0.908,133,5,6
5,Jonah Cox,21,63,302,262,69,110,16,8,11,67,30,49,0.420,0.480,0.668,1.148,175,3,3
2,Holden Breeze,22,63,287,240,48,76,12,0,6,42,33,48,0.317,0.404,0.442,0.846,106,5,4
7,Matt Hogan*,23,60,278,208,59,69,12,3,18,70,51,65,0.332,0.477,0.678,1.154,141,12,6
13,Drew Stahl,22,60,270,221,42,62,15,0,11,55,37,54,0.281,0.397,0.498,0.895,110,7,2
3,Blaze Brothers,23,62,256,225,63,68,18,2,11,38,21,57,0.302,0.377,0.547,0.923,123,7,2
6,Jacob Godman,23,56,219,186,40,55,12,2,5,29,27,36,0.296,0.384,0.462,0.847,86,1,2
12,Justin Quinn?,--,44,215,185,54,65,9,0,7,39,15,25,0.351,0.425,0.514,0.938,95,10,2
14,Sam Thompson*,22,28,84,66,18,18,4,1,3,9,12,21,0.273,0.422,0.500,0.922,33,5,0
4,Garrett Casey?,--,15,44,36,5,8,0,0,2,6,6,7,0.222,0.349,0.389,0.738,14,1,0
0,Preston Baumgartner?,--,16,27,21,2,5,1,0,1,7,4,11,0.238,0.370,0.429,0.799,9,1,1
1,Ryan Blackwell,21,14,25,20,4,5,2,0,0,2,3,10,0.250,0.400,0.350,0.750,7,2,0
8,Max Lucas?,--,12,24,22,1,8,2,0,0,2,1,8,0.364,0.391,0.455,0.846,10,0,0
11,Dalton Patten?,--,31,10,8,2,2,0,0,1,3,1,3,0.250,0.400,0.625,1.025,5,1,0
17,Dylan Wipperman?,--,9,8,8,1,2,0,0,0,0,0,3,0.250,0.250,0.250,0.500,2,0,0
16,Parker Ward?,--,4,2,1,1,0,0,0,0,0,1,0,0.000,0.500,0.000,0.500,0,0,0
15,Dawson Walls?,--,1,1,1,0,1,0,0,0,0,0,0,1.000,1.000,1.000,2.000,1,0,0

In [12]:
orp = orp.drop(columns=['Age'])

In [31]:
orp.head()

,Name,W,L,ERA,G,GS,SHO,SV,IP,H,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
6,Jakob Hall?,8,3,3.56,17,17,0,0,93.2,89,...,91,10,3,380,1.110,8.6,1.2,1.4,8.7,6.07
5,Harley Gollert*,10,1,4.30,17,16,0,0,88.0,83,...,88,7,1,376,1.295,8.5,1.6,3.2,9.0,2.84
4,Brooks Fowler?,9,1,3.27,16,16,0,0,77.0,65,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55
2,Cade Denton,2,1,1.85,33,0,0,15,58.1,44,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09
1,Josh Caravalho?,5,1,2.98,15,10,0,0,51.1,44,...,40,5,5,218,1.325,7.7,1.1,4.2,7.0,1.67

In [13]:
orp.columns

Index(['Name', 'W', 'L', 'ERA', 'G', 'GS', 'SHO', 'SV', 'IP', 'H', 'R', 'ER',
       'HR', 'BB', 'SO', 'HBP', 'WP', 'BF', 'WHIP', 'H9', 'HR9', 'BB9', 'SO9',
       'SO/W'],
      dtype='object')

In [17]:
eras = orp['ERA']
eras[:5]

6    3.56
5    4.30
4    3.27
2    1.85
1    2.98
Name: ERA, dtype: float64

In [20]:
whips = orp['WHIP']
whips[:5]

6    1.110
5    1.295
4    1.221
2    0.943
1    1.325
Name: WHIP, dtype: float64

In [30]:
orb.head()

,Name,Age,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
10,Jake McMurray?,--,63,318,266,59,87,14,1,6,47,40,28,0.327,0.415,0.455,0.870,121,4,6
9,Mac McCroskey,23,63,305,258,65,80,10,2,13,62,34,45,0.310,0.393,0.516,0.908,133,5,6
5,Jonah Cox,21,63,302,262,69,110,16,8,11,67,30,49,0.420,0.480,0.668,1.148,175,3,3
2,Holden Breeze,22,63,287,240,48,76,12,0,6,42,33,48,0.317,0.404,0.442,0.846,106,5,4
7,Matt Hogan*,23,60,278,208,59,69,12,3,18,70,51,65,0.332,0.477,0.678,1.154,141,12,6

In [26]:
orbs = orb['OBP']
orbs = orbs[:10]
orbs

10    0.415
9     0.393
5     0.480
2     0.404
7     0.477
13    0.397
3     0.377
6     0.384
12    0.425
14    0.422
Name: OBP, dtype: float64

In [27]:
orps = orb['OPS']
orps = orps[:10]
orps.

10    0.870
9     0.908
5     1.148
2     0.846
7     1.154
13    0.895
3     0.923
6     0.847
12    0.938
14    0.922
Name: OPS, dtype: float64

In [36]:
slgs = orb['SLG']
slgs = slgs[:10]
slgs
slgs.mean()

0.5280000000000001