# USA unlikely to medal

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from mlxtend.preprocessing import minmax_scaling
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.datasets import make_circles, make_classification, make_moons
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.inspection import DecisionBoundaryDisplay
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv('../../Combine_Data/men/sr_encoded.csv')
olymp = pd.read_csv('../../Data/cleandata22-23/encoded_m_olympics_sr.csv')
srnames = pd.read_csv('../../Data/cleandata22-23/encoded_m_olympics_srnames.csv')
srolymp = pd.read_csv('../../Data/cleandata22-23/men22_23.csv')

In [3]:
df['year'].fillna(2023, inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         381 non-null    int64
 1   D            381 non-null    float64
 2   E            381 non-null    float64
 3   ND           381 non-null    float64
 4   Total        381 non-null    float64
 5   year         381 non-null    float64
 6   medal        381 non-null    int64
 7   Name         381 non-null    int64
 8   Nation       381 non-null    int64
 9   round_final  381 non-null    bool
 10  round_qual   381 non-null    bool
dtypes: bool(2), float64(5), int64(4)
memory usage: 27.7 KB

In [5]:

# Assuming you already have your DataFrame 'df' and the target variable is 'medal'
y = df['medal']
X = df.drop(columns=['medal'])

# Split the data into training and testing sets
# CHANGED RANDOM STATE TO HAVE A LARGER NUMBER OF VALUES IN TEST DF
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=110)

# # Initialize classifiers
# classifiers = {
#     "Random Forest": RandomForestClassifier(),
#     "AdaBoost": AdaBoostClassifier(),
#     "SVM": SVC(),
#     "K-Nearest Neighbors": KNeighborsClassifier(),
#     "Decision Tree": DecisionTreeClassifier(),
#     "Naive Bayes": GaussianNB(),
#     "Neural Network": MLPClassifier(),
# }

# results = {}

# # Iterate through each classifier
# for name, clf in classifiers.items():
#     # Create a pipeline with StandardScaler for classifiers that require it
#     if name in ["SVM", "K-Nearest Neighbors", "Neural Network"]:
#         clf = make_pipeline(StandardScaler(), clf)

#     # Fit the model to the training data
#     clf.fit(X_train, y_train)

#     # Make predictions on the test data
#     y_pred = clf.predict(X_test)

#     # Evaluate the model's performance
#     accuracy = accuracy_score(y_test, y_pred)
#     report = classification_report(y_test, y_pred)
#     conf_matrix = confusion_matrix(y_test, y_pred)

#     results[name] = {
#         "accuracy": accuracy,
#         "classification_report": report,
#         "confusion_matrix": conf_matrix,
#     }

# # Print the results
# for name, result in results.items():
#     print(f"Classifier: {name}")
#     print(f"Accuracy: {result['accuracy']:.4f}")
#     print(f"Classification Report:\n{result['classification_report']}")
#     print(f"Confusion Matrix:\n{result['confusion_matrix']}\n")

Classifier: Decision Tree
Accuracy: 1.0000

Classifier: Random Forest
Accuracy: 1.0000


Classifier: AdaBoost
Accuracy: 1.0000

In [6]:
X_train.head()

,Rank,D,E,ND,Total,year,Name,Nation,round_final,round_qual
22,15,5.0,7.10,0.0,12.10,2019.0,175,4,False,True
97,39,4.4,8.40,0.0,12.80,2019.0,126,2,False,True
177,56,5.6,7.90,0.0,13.50,2019.0,202,55,False,True
314,193,3.4,7.60,0.0,11.00,2019.0,117,52,False,True
59,1,6.2,8.65,0.0,14.85,2019.0,98,69,False,True

In [7]:
olymp.head()

,Rank,D Score,E Score,Pen.,Total,year,Name,nation,round_AAfinal,round_TeamFinal,round_final,round_qual
0,73.0,3.5,8.366,0.0,11.866,2023,161,57,False,False,False,True
1,12.0,5.3,7.933,0.0,13.233,2022,358,26,True,False,False,False
2,90.0,4.9,7.666,0.0,12.566,2022,358,26,False,False,False,True
3,23.0,5.3,8.366,0.0,13.666,2022,358,26,False,False,False,True
4,6.0,5.3,8.333,0.0,13.633,2022,358,26,False,True,False,False

In [8]:
olymp.rename(columns={'D Score': 'D', 'E Score': 'E',
                     'Pen.': 'ND', 'nation': 'Nation'}, inplace=True)

In [9]:
olymp=olymp.drop(columns=['round_TeamFinal', 'round_AAfinal'])

In [10]:
from sklearn.tree import DecisionTreeClassifier, plot_tree

In [11]:
df1 = df.copy()

In [12]:
# from sklearn.preprocessing import MinMaxScaler

# scaler = MinMaxScaler()
# df_normalized = pd.DataFrame(scaler.fit_transform(df1), columns=df.columns)

In [13]:
# import matplotlib.pyplot as plt
# from sklearn.tree import DecisionTreeClassifier, plot_tree
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score, confusion_matrix

# # Assuming you already have your DataFrame 'df' and the target variable is 'medal'
# y = df['medal']
# X = df.drop(columns=['medal'])

# # Convert class labels to strings
# class_names = df['medal'].astype(str).unique()

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.28, random_state=110)

# clf = DecisionTreeClassifier()
# clf.fit(X_train, y_train)

# # Make predictions on the test data
# y_pred = clf.predict(X_test)

# # Calculate accuracy
# accuracy = accuracy_score(y_test, y_pred)

# # Generate confusion matrix
# conf_matrix = confusion_matrix(y_test, y_pred)

# # Plot the Decision Tree
# plt.figure(figsize=(12, 8))
# plot_tree(clf, filled=True, feature_names=X.columns, class_names=class_names)
# plt.title("Decision Tree Classifier")
# plt.show()

# # Print accuracy and confusion matrix
# print(f"Accuracy: {accuracy:.4f}")
# print("Confusion Matrix:")
# print(conf_matrix)

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np

# Assuming you already have your DataFrame 'df' and the target variable is 'medal'
y = df['medal']
X = df.drop(columns=['medal'])

# Convert class labels to strings
class_names = df['medal'].astype(str).unique()

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.28, random_state=110)

# Initialize and train a RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Make predictions with class probabilities
class_probs = rf_model.predict_proba(X_test)

# Define the number of top classes to select
top_n = 3

# Select the top N classes based on class probabilities
top_n_classes = np.argsort(class_probs, axis=1)[:, -top_n:]

# Set the minimum probability threshold
min_probability_threshold = 0.02

# Apply the threshold to select the top N classes
top_n_classes = top_n_classes[class_probs[np.arange(len(class_probs)), top_n_classes[:, -1]] >= min_probability_threshold]

# Evaluate the model's accuracy using the top N results
y_pred = top_n_classes[:, -1]  # Select the top prediction from the top N
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy (Top {top_n}): {accuracy:.4f}")

Accuracy (Top 3): 0.9813

In [15]:
class_probs = rf_model.predict_proba(olymp)

# Define the number of top classes to select
top_n = 20

# Select the top N classes based on class probabilities
top_n_classes = np.argsort(class_probs, axis=1)[:, -top_n:]

# Set the minimum probability threshold
min_probability_threshold = 0.1

# Apply the threshold to select the top N classes
top_n_classes = top_n_classes[class_probs[np.arange(len(class_probs)), top_n_classes[:, -1]] >= min_probability_threshold]

# Evaluate the model's accuracy using the top N results
y_pred = top_n_classes[:, -1]  # Select the top prediction from the top N

In [16]:
ypreds  = pd.Series(y_pred)
olymp['ypred']=ypreds

In [17]:
olymp['ypred'].value_counts()

ypred
0    1327
1       5
Name: count, dtype: int64

In [18]:
filtered_df = olymp[olymp['ypred'] == 1]

In [19]:
filtered_df['Name'].unique()

array([506, 507, 230])

In [25]:
name_encoded_values = [506, 507, 230]

# Filter the DataFrame to get the corresponding "Name" values
result = srnames.loc[srnames['Name_encoded'].isin(name_encoded_values), 'Name']

In [26]:
result.unique()

array(['xingyu lan', 'yang liu', 'jingyuan zou'], dtype=object)

In [22]:
srolymp["Name"]=srolymp["Name"].str.lower()

In [27]:
names_to_filter =['xingyu lan', 'yang liu', 'jingyuan zou']

# Filter the DataFrame to get rows with the specified "Name" values
result = srolymp[srolymp['Name'].isin(names_to_filter)]

In [28]:
result['Country'].value_counts()

Country
CHN    20
Name: count, dtype: int64