In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('pb.csv')

In [3]:
# zou jingyuan China
# lukas dauser Germany 
# ferhat arican Turkey

In [4]:
df['year'].value_counts()

year
2019    300
2020     67
Name: count, dtype: int64

In [5]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'zou jingyuan':
        return 1
    elif name_lower == 'lukas dauser':
        return 1
    elif name_lower == 'ferhat arican':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Athlete'].apply(assign_medal)

In [6]:
df['medal'].value_counts()

medal
0    357
1     10
Name: count, dtype: int64

In [7]:
df[df['medal'] == 1]

     Rank        Athlete Nation    D      E   ND   Total  year  round  medal
2       3  ferhat arican    TUR  6.5  7.866  0.0  14.366  2019  final      1
11      4  ferhat arican    TUR  6.5  7.733  0.0  14.233  2019   qual      1
23      3  ferhat arican    TUR  6.6  7.875  0.0  14.475  2020   qual      1
114     5  ferhat arican    TUR  6.5  8.400  0.0  14.900  2019  final      1
117     8   lukas dauser   none  6.3  7.533  0.0  13.833  2019  final      1
118     1   lukas dauser   none  6.3  8.733  0.0  15.033  2019   qual      1
122     5  ferhat arican    TUR  6.5  8.433  0.0  14.933  2019   qual      1
133    16   zou jingyuan    CHN  6.3  8.333  0.0  14.633  2019   qual      1
312     3  ferhat arican    TUR  6.5  7.866  0.0  14.366  2019  final      1
321     4  ferhat arican    TUR  6.5  7.733  0.0  14.233  2019   qual      1

In [8]:
df['round'] = df['round'].str.lower()

In [9]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Athlete'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Athlete']), df['Athlete']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [10]:
df=df.drop(columns=["Athlete"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [11]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [12]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [13]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [14]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         367 non-null    int64
 1   D            367 non-null    float64
 2   E            367 non-null    float64
 3   ND           367 non-null    float64
 4   Total        367 non-null    float64
 5   year         367 non-null    int64
 6   medal        367 non-null    int64
 7   Name         367 non-null    int64
 8   Nation       367 non-null    int64
 9   round_final  367 non-null    bool
 10  round_qual   367 non-null    bool
dtypes: bool(2), float64(4), int64(5)
memory usage: 26.6 KB

In [15]:
# df_encoded.to_csv('pb_encoded.csv', index=False)