In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv('vt.csv')

In [31]:
df['year'].value_counts()

year
2020    45
2019    30
2018     8
Name: count, dtype: int64

In [32]:
# shin jea-hwan South Korea
# denis ablyazin ROC
# artur davtyan

In [33]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'shin jea-hwan':
        return 1
    elif name_lower == 'denis ablyazin':
        return 1
    elif name_lower == 'artur davtyan':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Athlete'].apply(assign_medal)

In [34]:
df['medal'].value_counts()

medal
0    79
1     4
Name: count, dtype: int64

In [41]:
df[df['medal'] == 1]

,Rank,D,E,ND,Total,D.1,E.1,ND.1,Total.1,Average,year,medal,Name,Nation
4,5,5.6,9.033,0.0,14.633,5.2,9.300,0.0,14.500,14.566,2019,1,58,19
14,7,5.6,8.833,0.0,14.433,5.6,8.133,-0.3,13.433,13.933,2018,1,5,0
52,1,6.0,9.200,0.0,15.200,5.6,8.966,0.0,14.566,14.883,2020,1,58,19
77,1,5.6,9.500,0.0,15.100,5.6,9.333,0.0,14.933,15.016,2019,1,5,0

In [36]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Athlete'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Athlete']), df['Athlete']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [37]:
df=df.drop(columns=["Athlete"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [38]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [39]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     83 non-null     int64
 1   D        83 non-null     float64
 2   E        83 non-null     float64
 3   ND       83 non-null     float64
 4   Total    83 non-null     float64
 5   D.1      83 non-null     float64
 6   E.1      83 non-null     float64
 7   ND.1     83 non-null     float64
 8   Total.1  83 non-null     float64
 9   Average  83 non-null     float64
 10  year     83 non-null     int64
 11  medal    83 non-null     int64
 12  Name     83 non-null     int64
 13  Nation   83 non-null     int64
dtypes: float64(9), int64(5)
memory usage: 9.2 KB

In [43]:
# df.to_csv('vt_encoded.csv', index=False)