In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sr.csv')

In [3]:
# liu yang China
# you hao China
# eleftherios petrounias Greece

In [4]:
df['year'].value_counts()

year
2019.0    320
2020.0     34
Name: count, dtype: int64

In [5]:
# Define a function to assign medal values based on the "Name" column
def assign_medal(name):
    name_lower = name.lower()
    if name_lower == 'liu yang':
        return 1
    elif name_lower == 'you hao ':
        return 1
    elif name_lower == 'eleftherios petrounias':
        return 1
    else:
        return 0

# Apply the function to create the "medal" column
df['medal'] = df['Athlete'].apply(assign_medal)

In [6]:
df['medal'].value_counts()

medal
0    373
1      8
Name: count, dtype: int64

In [7]:
df[df['medal'] == 1]

,Rank,Athlete,Nation,D,E,ND,Total,year,round,medal
0,1,liu yang,CHN,6.4,8.766,0.0,15.166,2019.0,final,1
8,1,liu yang,CHN,6.4,8.600,0.0,15.000,2019.0,qual,1
24,1,eleftherios petrounias,GRE,6.3,8.800,0.0,15.100,NaN,NaN,1
25,2,liu yang,CHN,6.4,8.600,0.0,15.000,NaN,NaN,1
117,4,eleftherios petrounias,GRE,6.3,8.433,0.0,14.733,2019.0,final,1
125,4,eleftherios petrounias,GRE,6.3,8.400,0.0,14.700,2019.0,qual,1
323,1,liu yang,CHN,6.4,8.766,0.0,15.166,2019.0,final,1
331,1,liu yang,CHN,6.4,8.600,0.0,15.000,2019.0,qual,1

In [8]:
df['round'] = df['round'].str.lower()

In [9]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Athlete'])

# Store the mapping between integers and original objects
label_mapping = dict(zip(le.transform(df['Athlete']), df['Athlete']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [10]:
df=df.drop(columns=["Athlete"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [11]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [12]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [13]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [14]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         381 non-null    int64
 1   D            381 non-null    float64
 2   E            381 non-null    float64
 3   ND           381 non-null    float64
 4   Total        381 non-null    float64
 5   year         354 non-null    float64
 6   medal        381 non-null    int64
 7   Name         381 non-null    int64
 8   Nation       381 non-null    int64
 9   round_final  381 non-null    bool
 10  round_qual   381 non-null    bool
dtypes: bool(2), float64(5), int64(4)
memory usage: 27.7 KB

In [15]:
# df_encoded.to_csv('sr_encoded.csv', index=False)