In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('iaa2024.csv')

In [3]:
df.head()

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
0,1.0,hashimoto daiki,14.733,15.075,13.333,15.066,15.200,14.633,88.040,qual,Japan,2021
1,2.0,zhang boheng,14.133,14.666,14.866,14.766,15.300,14.166,87.897,qual,China,2021
2,3.0,adem asil,14.066,12.666,14.533,14.966,14.366,13.833,84.430,qual,Turkey,2021
3,4.0,shi cong,13.200,13.466,13.933,14.233,15.200,13.866,83.898,qual,China,2021
4,5.0,illia kovtun,14.333,13.766,12.500,14.066,14.700,14.200,83.565,qual,Ukraine,2021

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     516 non-null    float64
 1   Athlete  721 non-null    object
 2   FX       721 non-null    float64
 3   PH       721 non-null    float64
 4   SR       721 non-null    float64
 5   VT       721 non-null    float64
 6   PB       721 non-null    float64
 7   HB       721 non-null    float64
 8   AA       721 non-null    float64
 9   round    721 non-null    object
 10  Nation   721 non-null    object
 11  year     721 non-null    int64
dtypes: float64(8), int64(1), object(3)
memory usage: 67.7+ KB

In [5]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['Name_encoded'] = le.fit_transform(df['Athlete'])

In [6]:
dfnames = df[['Athlete', 'Name_encoded']]

In [7]:
df=df.drop(columns=["Athlete"])
df.rename(columns={'Name_encoded': 'Name'}, inplace=True)

In [8]:
df_encoded = pd.get_dummies(df, columns=['round'], prefix='round')

In [10]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'Name' is the column you want to encode
le = LabelEncoder()

# Fit and transform the 'Name' column to create integer labels
df['nation_encoded'] = le.fit_transform(df['Nation'])

# Store the mapping between integers and original objects
label_mapping_nation = dict(zip(le.transform(df['Nation']), df['Nation']))

# To revert the integers back to objects, use the label_mapping
# reverted_names = df['Name_encoded'].map(label_mapping)

In [11]:
df=df.drop(columns=["Nation"])
df.rename(columns={'nation_encoded': 'Nation'}, inplace=True)

In [12]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         516 non-null    float64
 1   FX           721 non-null    float64
 2   PH           721 non-null    float64
 3   SR           721 non-null    float64
 4   VT           721 non-null    float64
 5   PB           721 non-null    float64
 6   HB           721 non-null    float64
 7   AA           721 non-null    float64
 8   Nation       721 non-null    object
 9   year         721 non-null    int64
 10  Name         721 non-null    int64
 11  round_final  721 non-null    bool
 12  round_qual   721 non-null    bool
dtypes: bool(2), float64(8), int64(2), object(1)
memory usage: 63.5+ KB

In [13]:

# df_encoded.to_csv("encoded_m_olympics_iaa.csv", index=False)  
# dfnames.to_csv("encoded_m_olympics_iaanames.csv", index=False)