In [3]:
import pandas as pd
import numpy as np

In [8]:
df20 = pd.read_csv('../../../scraping/women/olympics/womens2020olympics/Gymnastics_ 2020_Olympics_women\'s_artistic_uneven_bars.csv')
df16 = pd.read_csv('../../../scraping/women/olympics/women2016olympics/Gymnastics_ 2016_Olympics_women\'s_artistic_uneven_bar.csv')
df12 = pd.read_csv('../../../scraping/women/olympics/women2012olympics/Gymnastics_ 2012_Olympics_women\'s_artistic_uneven_bar.csv')

In [21]:
df16.head(1)

   Rank               Gymnast  D score  E score  Pen.  Total
0     1  Aliya Mustafina(RUS)      6.8      9.1   NaN   15.9

In [22]:
df12.head(1)

   Rank          Gymnast  Nation  D Score  E Score  Pen.   Total
0     1  Aliya Mustafina  Russia      7.0    9.133   NaN  16.133

In [23]:
df20.head(1)

   Rank            Gymnast  D Score  E Score  Pen.  Total
0     1  Nina Derwael(BEL)      6.7      8.5   NaN   15.2

In [24]:
df12['year'] = 2012
df16['year'] = 2016
df20['year'] = 2020

In [25]:
df20['Nation'] = df20['Gymnast'].str.extract(r'\((.*?)\)')
df20['Gymnast'] = df20['Gymnast'].str.replace(r'\([^)]*\)', '', regex=True)

In [26]:
df20

,Rank,Gymnast,D Score,E Score,Pen.,Total,year,Nation
0,1,Nina Derwael,6.7,8.500,NaN,15.200,2020,BEL
1,2,Anastasia Ilyankova,6.3,8.533,NaN,14.833,2020,ROC
2,3,Sunisa Lee,6.2,8.300,NaN,14.500,2020,USA
3,4,Lu Yufei,6.0,8.400,NaN,14.400,2020,CHN
4,5,Elisabeth Seitz,6.2,8.200,NaN,14.400,2020,GER
5,6,Mélanie de Jesus dos Santos,6.1,7.933,NaN,14.033,2020,FRA
6,7,Fan Yilin,6.4,7.500,NaN,13.900,2020,CHN
7,8,Angelina Melnikova,5.9,7.166,NaN,13.066,2020,ROC

In [27]:
df16

   Rank                 Gymnast  D score  E score  Pen.   Total  year
0     1    Aliya Mustafina(RUS)      6.8    9.100   NaN  15.900  2016
1     2     Madison Kocian(USA)      6.7    9.133   NaN  15.833  2016
2     3     Sophie Scheder(GER)      6.6    8.966   NaN  15.566  2016
3     4    Elisabeth Seitz(GER)      6.6    8.933   NaN  15.533  2016
4     5     Shang Chunsong(CHN)      6.7    8.733   NaN  15.433  2016
5     6      Jessica López(VEN)      6.7    8.633   NaN  15.333  2016
6     7      Gabby Douglas(USA)      6.5    8.566   NaN  15.066  2016
7     8  Daria Spiridonova(RUS)      6.1    7.866   NaN  13.966  2016

In [28]:
column_mapping = {'D score': 'D Score', 
                  'E score': 'E Score'}

# Rename the columns using the rename() method
df16.rename(columns=column_mapping, inplace=True)

In [29]:
df16['Nation'] = df16['Gymnast'].str.extract(r'\((.*?)\)')

In [30]:
df16

   Rank                 Gymnast  D Score  E Score  Pen.   Total  year Nation
0     1    Aliya Mustafina(RUS)      6.8    9.100   NaN  15.900  2016    RUS
1     2     Madison Kocian(USA)      6.7    9.133   NaN  15.833  2016    USA
2     3     Sophie Scheder(GER)      6.6    8.966   NaN  15.566  2016    GER
3     4    Elisabeth Seitz(GER)      6.6    8.933   NaN  15.533  2016    GER
4     5     Shang Chunsong(CHN)      6.7    8.733   NaN  15.433  2016    CHN
5     6      Jessica López(VEN)      6.7    8.633   NaN  15.333  2016    VEN
6     7      Gabby Douglas(USA)      6.5    8.566   NaN  15.066  2016    USA
7     8  Daria Spiridonova(RUS)      6.1    7.866   NaN  13.966  2016    RUS

In [31]:
df16['Gymnast'] = df16['Gymnast'].str.replace(r'\([^)]*\)', '', regex=True)

In [32]:
df16

   Rank            Gymnast  D Score  E Score  Pen.   Total  year Nation
0     1    Aliya Mustafina      6.8    9.100   NaN  15.900  2016    RUS
1     2     Madison Kocian      6.7    9.133   NaN  15.833  2016    USA
2     3     Sophie Scheder      6.6    8.966   NaN  15.566  2016    GER
3     4    Elisabeth Seitz      6.6    8.933   NaN  15.533  2016    GER
4     5     Shang Chunsong      6.7    8.733   NaN  15.433  2016    CHN
5     6      Jessica López      6.7    8.633   NaN  15.333  2016    VEN
6     7      Gabby Douglas      6.5    8.566   NaN  15.066  2016    USA
7     8  Daria Spiridonova      6.1    7.866   NaN  13.966  2016    RUS

In [33]:
df12

   Rank          Gymnast         Nation  D Score  E Score  Pen.   Total  year
0     1  Aliya Mustafina         Russia      7.0    9.133   NaN  16.133  2012
1     2         He Kexin          China      7.1    8.833   NaN  15.933  2012
2     3     Beth Tweddle  Great Britain      7.0    8.916   NaN  15.916  2012
3     4       Yao Jinnan          China      6.8    8.966   NaN  15.766  2012
4     5  Viktoria Komova         Russia      7.0    8.666   NaN  15.666  2012
5     6  Elisabeth Seitz        Germany      6.7    8.566   NaN  15.266  2012
6     7     Kōko Tsurumi          Japan      6.4    8.566   NaN  14.966  2012
7     8    Gabby Douglas  United States      6.3    8.600   NaN  14.900  2012

In [34]:
combined_df = pd.concat([df12, df16, df20], axis=0)

combined_df.reset_index(drop=True, inplace=True)

In [35]:
df= combined_df.copy()

In [36]:
df

,Rank,Gymnast,Nation,D Score,E Score,Pen.,Total,year
0,1,Aliya Mustafina,Russia,7.0,9.133,NaN,16.133,2012
1,2,He Kexin,China,7.1,8.833,NaN,15.933,2012
2,3,Beth Tweddle,Great Britain,7.0,8.916,NaN,15.916,2012
3,4,Yao Jinnan,China,6.8,8.966,NaN,15.766,2012
4,5,Viktoria Komova,Russia,7.0,8.666,NaN,15.666,2012
5,6,Elisabeth Seitz,Germany,6.7,8.566,NaN,15.266,2012
6,7,Kōko Tsurumi,Japan,6.4,8.566,NaN,14.966,2012
7,8,Gabby Douglas,United States,6.3,8.600,NaN,14.900,2012
8,1,Aliya Mustafina,RUS,6.8,9.100,NaN,15.900,2016
9,2,Madison Kocian,USA,6.7,9.133,NaN,15.833,2016
10,3,Sophie Scheder,GER,6.6,8.966,NaN,15.566,2016
11,4,Elisabeth Seitz,GER,6.6,8.933,NaN,15.533,2016
12,5,Shang Chunsong,CHN,6.7,8.733,NaN,15.433,2016
13,6,Jessica López,VEN,6.7,8.633,NaN,15.333,2016
14,7,Gabby Douglas,USA,6.5,8.566,NaN,15.066,2016
15,8,Daria Spiridonova,RUS,6.1,7.866,NaN,13.966,2016
16,1,Nina Derwael,BEL,6.7,8.500,NaN,15.200,2020
17,2,Anastasia Ilyankova,ROC,6.3,8.533,NaN,14.833,2020
18,3,Sunisa Lee,USA,6.2,8.300,NaN,14.500,2020
19,4,Lu Yufei,CHN,6.0,8.400,NaN,14.400,2020
20,5,Elisabeth Seitz,GER,6.2,8.200,NaN,14.400,2020
21,6,Mélanie de Jesus dos Santos,FRA,6.1,7.933,NaN,14.033,2020
22,7,Fan Yilin,CHN,6.4,7.500,NaN,13.900,2020
23,8,Angelina Melnikova,ROC,5.9,7.166,NaN,13.066,2020

In [37]:
df = df.fillna(0)

In [38]:
df

,Rank,Gymnast,Nation,D Score,E Score,Pen.,Total,year
0,1,Aliya Mustafina,Russia,7.0,9.133,0.0,16.133,2012
1,2,He Kexin,China,7.1,8.833,0.0,15.933,2012
2,3,Beth Tweddle,Great Britain,7.0,8.916,0.0,15.916,2012
3,4,Yao Jinnan,China,6.8,8.966,0.0,15.766,2012
4,5,Viktoria Komova,Russia,7.0,8.666,0.0,15.666,2012
5,6,Elisabeth Seitz,Germany,6.7,8.566,0.0,15.266,2012
6,7,Kōko Tsurumi,Japan,6.4,8.566,0.0,14.966,2012
7,8,Gabby Douglas,United States,6.3,8.600,0.0,14.900,2012
8,1,Aliya Mustafina,RUS,6.8,9.100,0.0,15.900,2016
9,2,Madison Kocian,USA,6.7,9.133,0.0,15.833,2016
10,3,Sophie Scheder,GER,6.6,8.966,0.0,15.566,2016
11,4,Elisabeth Seitz,GER,6.6,8.933,0.0,15.533,2016
12,5,Shang Chunsong,CHN,6.7,8.733,0.0,15.433,2016
13,6,Jessica López,VEN,6.7,8.633,0.0,15.333,2016
14,7,Gabby Douglas,USA,6.5,8.566,0.0,15.066,2016
15,8,Daria Spiridonova,RUS,6.1,7.866,0.0,13.966,2016
16,1,Nina Derwael,BEL,6.7,8.500,0.0,15.200,2020
17,2,Anastasia Ilyankova,ROC,6.3,8.533,0.0,14.833,2020
18,3,Sunisa Lee,USA,6.2,8.300,0.0,14.500,2020
19,4,Lu Yufei,CHN,6.0,8.400,0.0,14.400,2020
20,5,Elisabeth Seitz,GER,6.2,8.200,0.0,14.400,2020
21,6,Mélanie de Jesus dos Santos,FRA,6.1,7.933,0.0,14.033,2020
22,7,Fan Yilin,CHN,6.4,7.500,0.0,13.900,2020
23,8,Angelina Melnikova,ROC,5.9,7.166,0.0,13.066,2020

In [40]:
# df.to_csv('cleaned_womens2012to2020ub', index=False)