In [1]:
import pandas as pd
import numpy as np

In [2]:
df12 = pd.read_csv('../../../scraping/women/olympics/women2012olympics/Gymnastics_ 2012_Olympics_women\'s_artistic_balance_beam.csv')
df16 = pd.read_csv('../../../scraping/women/olympics/women2016olympics/Gymnastics_ 2016_Olympics_women\'s_artistic_balance_beam.csv')
df20 = pd.read_csv('../../../scraping/women/olympics/womens2020olympics/Gymnastics_ 2020_Olympics_women\'s_artistic_balance_beam.csv')

In [3]:
df12['year'] = 2012
df16['year'] = 2016
df20['year'] = 2020

In [4]:
column_mapping = {'Position': 'Rank'}

# Rename the columns using the rename() method
df12.rename(columns=column_mapping, inplace=True)

In [5]:
column_mapping = {'Position': 'Rank'}

# Rename the columns using the rename() method
df16.rename(columns=column_mapping, inplace=True)

In [6]:
column_mapping = {'Name': 'Gymnast', 
                  'Difficulty': 'D Score','Execution': 'E Score',
                 'Penalty': 'Pen.'}

# Rename the columns using the rename() method
df16.rename(columns=column_mapping, inplace=True)

In [7]:
df16['Nation'] = df16['Gymnast'].str.extract(r'\((.*?)\)')

In [8]:
df16['Gymnast'] = df16['Gymnast'].str.replace(r'\([^)]*\)', '', regex=True)

In [9]:
df16.head(1)

   Rank       Gymnast  D Score  E Score  Pen.   Total  year Nation
0     1  Sanne Wevers      6.6    8.866   NaN  15.466  2016    NED

In [10]:
df20['Nation'] = df20['Gymnast'].str.extract(r'\((.*?)\)')

In [11]:
df20['Gymnast'] = df20['Gymnast'].str.replace(r'\([^)]*\)', '', regex=True)

In [12]:
df12

,Rank,Gymnast,Nation,D Score,E Score,Pen.,Total,year
0,1,Deng Linlin,China,6.6,9.000,NaN,15.600,2012
1,2,Sui Lu,China,6.5,9.000,NaN,15.500,2012
2,3,Aly Raisman,United States,6.3,8.766,NaN,15.066,2012
3,4,Cătălina Ponor,Romania,6.6,8.466,NaN,15.066,2012
4,5,Ksenia Afanasyeva,Russia,5.8,8.783,NaN,14.583,2012
5,6,Larisa Iordache,Romania,6.4,7.800,NaN,14.200,2012
6,7,Gabby Douglas,United States,6.0,7.633,NaN,13.633,2012
7,8,Viktoria Komova,Russia,6.2,6.966,NaN,13.166,2012

In [13]:
combined_df = pd.concat([df12, df16, df20], axis=0)

combined_df.reset_index(drop=True, inplace=True)

In [14]:
df= combined_df.copy()

In [15]:
df

,Rank,Gymnast,Nation,D Score,E Score,Pen.,Total,year
0,1,Deng Linlin,China,6.6,9.000,NaN,15.600,2012
1,2,Sui Lu,China,6.5,9.000,NaN,15.500,2012
2,3,Aly Raisman,United States,6.3,8.766,NaN,15.066,2012
3,4,Cătălina Ponor,Romania,6.6,8.466,NaN,15.066,2012
4,5,Ksenia Afanasyeva,Russia,5.8,8.783,NaN,14.583,2012
5,6,Larisa Iordache,Romania,6.4,7.800,NaN,14.200,2012
6,7,Gabby Douglas,United States,6.0,7.633,NaN,13.633,2012
7,8,Viktoria Komova,Russia,6.2,6.966,NaN,13.166,2012
8,1,Sanne Wevers,NED,6.6,8.866,NaN,15.466,2016
9,2,Laurie Hernandez,USA,6.4,8.933,NaN,15.333,2016
10,3,Simone Biles,USA,6.5,8.233,NaN,14.733,2016
11,4,Marine Boyer,FRA,6.1,8.500,NaN,14.600,2016
12,5,Flávia Saraiva,BRA,6.3,8.233,NaN,14.533,2016
13,6,Fan Yilin,CHN,6.3,8.200,NaN,14.500,2016
14,7,Cătălina Ponor,ROU,5.8,8.200,NaN,14.000,2016
15,8,Isabela Onyshko,CAN,6.1,7.300,NaN,13.400,2016
16,1,Guan Chenchen,CHN,6.6,8.033,NaN,14.633,2020
17,2,Tang Xijing,CHN,6.0,8.233,NaN,14.233,2020
18,3,Simone Biles,USA,6.1,7.900,NaN,14.000,2020
19,4,Ellie Black,CAN,6.2,7.666,NaN,13.866,2020
20,5,Sunisa Lee,USA,6.4,7.466,NaN,13.866,2020
21,6,Urara Ashikawa,JPN,5.9,7.833,NaN,13.733,2020
22,7,Flávia Saraiva,BRA,5.7,7.433,NaN,13.133,2020
23,8,Vladislava Urazova,ROC,5.0,7.733,NaN,12.733,2020

In [16]:
df = df.fillna(0)

In [17]:
df

,Rank,Gymnast,Nation,D Score,E Score,Pen.,Total,year
0,1,Deng Linlin,China,6.6,9.000,0.0,15.600,2012
1,2,Sui Lu,China,6.5,9.000,0.0,15.500,2012
2,3,Aly Raisman,United States,6.3,8.766,0.0,15.066,2012
3,4,Cătălina Ponor,Romania,6.6,8.466,0.0,15.066,2012
4,5,Ksenia Afanasyeva,Russia,5.8,8.783,0.0,14.583,2012
5,6,Larisa Iordache,Romania,6.4,7.800,0.0,14.200,2012
6,7,Gabby Douglas,United States,6.0,7.633,0.0,13.633,2012
7,8,Viktoria Komova,Russia,6.2,6.966,0.0,13.166,2012
8,1,Sanne Wevers,NED,6.6,8.866,0.0,15.466,2016
9,2,Laurie Hernandez,USA,6.4,8.933,0.0,15.333,2016
10,3,Simone Biles,USA,6.5,8.233,0.0,14.733,2016
11,4,Marine Boyer,FRA,6.1,8.500,0.0,14.600,2016
12,5,Flávia Saraiva,BRA,6.3,8.233,0.0,14.533,2016
13,6,Fan Yilin,CHN,6.3,8.200,0.0,14.500,2016
14,7,Cătălina Ponor,ROU,5.8,8.200,0.0,14.000,2016
15,8,Isabela Onyshko,CAN,6.1,7.300,0.0,13.400,2016
16,1,Guan Chenchen,CHN,6.6,8.033,0.0,14.633,2020
17,2,Tang Xijing,CHN,6.0,8.233,0.0,14.233,2020
18,3,Simone Biles,USA,6.1,7.900,0.0,14.000,2020
19,4,Ellie Black,CAN,6.2,7.666,0.0,13.866,2020
20,5,Sunisa Lee,USA,6.4,7.466,0.0,13.866,2020
21,6,Urara Ashikawa,JPN,5.9,7.833,0.0,13.733,2020
22,7,Flávia Saraiva,BRA,5.7,7.433,0.0,13.133,2020
23,8,Vladislava Urazova,ROC,5.0,7.733,0.0,12.733,2020

In [19]:
# df.to_csv('cleaned_womens2012to2020bb', index=False)