# No feasible solution found. - Integer Linear Programming (ILP) algorithm.

# greedy heuristic algorithm.

colt walker           6
khoi young            6
asher hong            6
curran phillips       3
stephen nedoroscik    1

In [1]:
# import sys
# sys.path
#  /Users/ryantalbot/opt/anaconda3/envs/tf2/bin/python3 -m pip install pyswarm

In [2]:
import pandas as pd
import numpy as np
import pulp

In [3]:
# df = pd.read_csv('top_men.csv')

df = pd.read_csv('all_usa.csv')
iaa = pd.read_csv("../../Combine_Data/men/usa_iaa_men_22_23.csv")

In [4]:
iaa

,Rank,Athlete,FX,PH,SR,VT,PB,HB,AA,round,Nation,year
0,1.0,vitaliy guimaraes,14.250,14.350,13.600,14.450,13.900,13.40,83.950,final,USA,2022
1,2.0,khoi young,13.550,15.342,12.550,15.244,13.750,13.10,83.536,final,USA,2022
2,3.0,asher hong,14.029,12.949,14.566,16.680,14.355,10.45,83.029,final,USA,2022
3,4.0,yul moldauer,13.400,13.789,14.116,13.400,15.543,11.40,81.648,final,USA,2022
4,5.0,colt walker,12.450,12.750,13.250,14.897,15.055,13.10,81.502,final,USA,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
75,38.0,ian skirkey,0.000,14.972,0.000,0.000,0.000,0.00,14.972,final,USA,2023
76,39.0,ignacio yockers,0.000,14.942,0.000,0.000,0.000,0.00,14.942,final,USA,2023
77,40.0,brandon dang,0.000,14.466,0.000,0.000,0.000,0.00,14.466,final,USA,2023
78,41.0,vahe petrosyan,0.000,0.000,0.000,13.350,0.000,0.00,13.350,final,USA,2023
79,42.0,troy lipis,0.000,0.000,12.711,0.000,0.000,0.00,12.711,final,USA,2023

In [5]:
avg_iaa = iaa.groupby('Athlete')['AA'].mean().reset_index()

In [7]:
avg_iaa = avg_iaa.sort_values(by='AA', ascending=False)

In [8]:
avg_iaa

                  Athlete       AA
55      vitaliy guimaraes  83.9500
56           yul moldauer  83.4950
2              asher hong  82.4885
10            colt walker  81.5020
21        ian lasic-ellis  81.4775
47           shane wiskus  81.2000
50        taylor burkhart  81.1940
44             riley loos  80.6260
9               colin van  80.1470
57          zachary nunez  79.7000
29          joshua karnes  79.5000
17           fred richard  79.3010
18            fuzzy benas  79.3000
20            ian gunther  78.9010
6            cameron bock  78.8500
43          raydel gamboa  78.8000
39          mike fletcher  78.1250
40        nicolas kuebler  77.9500
15             evan davis  77.8000
38          michael jaroh  77.7500
13           david shamah  77.5500
33           landen blixt  76.6750
28        jeremy bischoff  76.5750
34           mathew davis  76.2500
51    taylor christopulos  76.1000
52             toby liang  75.8000
41           noah newfeld  75.7500
30         kameron nelson  75.7160
26         james friedman  75.5500
36         maxim bereznev  74.6500
7   chase davenport-mills  73.4000
31         kazuki hayashi  72.6500
16          evan hymanson  72.4250
8          cole partridge  72.2500
5            caleb melton  71.9500
35           matt cormier  71.5000
24           isaiah drake  71.4250
45            rithik puri  70.9500
19       garrett braunton  67.0500
1          anthony koppie  66.2000
46            robert neff  63.7000
37         michael artlip  60.3000
32             khoi young  54.7690
25           jack freeman  50.3750
14          drake andrews  49.3000
12        curran phillips  46.6985
23        ignacio yockers  43.9925
0               alex diab  41.0725
27         javier alfonso  39.9500
11          connor mccool  27.9530
48        spencer goodell  27.2000
3               blake sun  26.5220
49     stephen nedoroscik  15.0920
42         patrick hoopes  14.9920
22            ian skirkey  14.9720
4            brandon dang  14.4660
54         vahe petrosyan  13.3500
53             troy lipis  12.7110

In [45]:
# df=grouped.copy()

In [10]:
df

                             Name Apparatus   Score
0                      asher hong        VT  14.300
1                      asher hong        VT  14.133
2                  kameron nelson        VT  14.266
3               frederick richard        VT  14.450
4                  kameron nelson        VT  13.633
...                           ...       ...     ...
1418                michael jaroh        FX  11.200
1419  frederick nathaniel richard        FX  14.166
1420              jeremy bischoff        FX  12.550
1421            frederick richard        FX  14.050
1422                    alex diab        FX  13.050

[1423 rows x 3 columns]

In [12]:
# selected_team['Name'].nunique()

In [13]:

#     colt walker
#     khoi young
#     asher hong
#     curran phillips
#     stephen nedoroscik

In [14]:
walker = df[df['Name']=="colt walker"]

In [15]:
young = df[df['Name']=="khoi young"]

In [16]:
hong = df[df['Name']=="asher hong"]

In [17]:
hong

            Name Apparatus   Score
0     asher hong        VT  14.300
1     asher hong        VT  14.133
5     asher hong        VT  13.566
6     asher hong        VT  15.450
10    asher hong        VT  13.466
11    asher hong        VT  14.433
113   asher hong        VT  14.166
131   asher hong        VT  14.050
132   asher hong        VT  14.400
133   asher hong        VT  14.750
134   asher hong        VT  14.900
137   asher hong        VT  15.050
138   asher hong        VT  14.850
230   asher hong        SR  14.550
234   asher hong        SR  13.366
238   asher hong        SR  14.650
239   asher hong        SR  14.450
242   asher hong        SR  14.350
244   asher hong        SR  14.200
277   asher hong        SR  13.900
278   asher hong        SR  13.833
294   asher hong        SR  14.750
344   asher hong        SR  13.950
482   asher hong        PH  12.400
486   asher hong        PH  13.000
487   asher hong        PH  13.450
492   asher hong        PH  12.600
599   asher hong        PH  13.450
619   asher hong        PH  13.700
629   asher hong        PH  12.200
685   asher hong        PH  14.250
704   asher hong        PH  14.133
707   asher hong        PH  13.300
856   asher hong        PB  14.700
867   asher hong        PB  14.750
876   asher hong        PB  14.700
879   asher hong        PB  14.850
883   asher hong        PB  14.250
921   asher hong        PB  14.900
924   asher hong        PB  14.600
930   asher hong        PB  14.700
944   asher hong        PB  14.900
980   asher hong        HB  11.500
984   asher hong        HB  13.200
998   asher hong        HB  10.300
1005  asher hong        HB  13.150
1006  asher hong        HB  13.400
1013  asher hong        HB  10.450
1017  asher hong        HB  11.050
1018  asher hong        HB  12.300
1064  asher hong        HB  13.650
1259  asher hong        FX  14.266
1280  asher hong        FX  13.866
1343  asher hong        FX  12.150
1353  asher hong        FX  14.500
1354  asher hong        FX  14.500
1355  asher hong        FX  13.800
1359  asher hong        FX  13.300
1360  asher hong        FX  13.800
1367  asher hong        FX  14.250

In [18]:
hong['Score'].sum()

827.7779999999999

In [19]:
young['Score'].sum()

358.94999999999993

In [20]:
walker['Score'].sum()

483.215

In [21]:
82.51479829059829+82.6575+82.68916666666667

247.86146495726496

In [22]:

# Sort the data by 'Score' in descending order
df = df.sort_values(by='Score', ascending=False)

# Initialize variables
team = []
apparatus_count = {}

# Define constraints
max_events_per_person = 6
max_events_per_apparatus = 3
team_size = 5

# Greedy heuristic
for index, row in df.iterrows():
    name = row['Name']
    apparatus = row['Apparatus']

    if name not in team and apparatus_count.get(apparatus, 0) < max_events_per_apparatus:
        if name not in apparatus_count:
            apparatus_count[name] = 1
        else:
            apparatus_count[name] += 1

        team.append(name)

    if len(team) >= team_size:
        break

# Resulting team
selected_team = df[df['Name'].isin(team)]
print(selected_team)

                 Name Apparatus   Score
804   curran phillips        PB  15.550
791   curran phillips        PB  15.500
6          asher hong        VT  15.450
775   curran phillips        PB  15.400
723      yul moldauer        PB  15.400
...               ...       ...     ...
1073     yul moldauer        HB  11.200
1017       asher hong        HB  11.050
1013       asher hong        HB  10.450
1253      colt walker        FX  10.433
998        asher hong        HB  10.300

[174 rows x 3 columns]

In [23]:
sort_app=selected_team.sort_values(by='Apparatus')

In [24]:
sort_app.head(50)

                 Name Apparatus   Score
1325     yul moldauer        FX  13.400
1359       asher hong        FX  13.300
1329     yul moldauer        FX  14.700
1330     yul moldauer        FX  13.750
1360       asher hong        FX  13.800
1355       asher hong        FX  13.800
1204      colt walker        FX  13.850
1280       asher hong        FX  13.866
1233      colt walker        FX  13.550
1205      colt walker        FX  12.450
1314     yul moldauer        FX  14.500
1302     yul moldauer        FX  12.650
1353       asher hong        FX  14.500
1367       asher hong        FX  14.250
1254      colt walker        FX  14.250
1276     yul moldauer        FX  14.400
1343       asher hong        FX  12.150
1256      colt walker        FX  14.200
1315     yul moldauer        FX  14.233
1253      colt walker        FX  10.433
1324     yul moldauer        FX  14.000
1354       asher hong        FX  14.500
1259       asher hong        FX  14.266
1172  curran phillips        HB  14.133
983   curran phillips        HB  13.850
990   curran phillips        HB  13.700
999   curran phillips        HB  13.650
1064       asher hong        HB  13.650
963       colt walker        HB  13.600
1007      colt walker        HB  13.800
998        asher hong        HB  10.300
1006       asher hong        HB  13.400
1013       asher hong        HB  10.450
1017       asher hong        HB  11.050
1073     yul moldauer        HB  11.200
1077     yul moldauer        HB  11.400
980        asher hong        HB  11.500
978         blake sun        HB  11.600
959         blake sun        HB  11.700
995   curran phillips        HB  11.950
1068     yul moldauer        HB  13.500
1086     yul moldauer        HB  12.800
981   curran phillips        HB  12.850
1018       asher hong        HB  12.300
1074     yul moldauer        HB  12.850
968       colt walker        HB  12.950
1008      colt walker        HB  13.000
1103     yul moldauer        HB  13.000
1043      colt walker        HB  13.100
1173  curran phillips        HB  13.133

In [25]:
selected_team['Name'].value_counts()

Name
asher hong         60
yul moldauer       42
colt walker        35
curran phillips    21
blake sun          16
Name: count, dtype: int64

In [26]:
selected_team[selected_team['Name']=='colt walker']

             Name Apparatus   Score
836   colt walker        PB  15.350
814   colt walker        PB  15.250
831   colt walker        PB  15.000
846   colt walker        PB  14.950
809   colt walker        PB  14.866
840   colt walker        PB  14.700
218   colt walker        VT  14.650
166   colt walker        VT  14.600
7     colt walker        VT  14.600
159   colt walker        VT  14.400
183   colt walker        VT  14.300
1254  colt walker        FX  14.250
236   colt walker        SR  14.200
231   colt walker        SR  14.200
1256  colt walker        FX  14.200
233   colt walker        SR  14.150
237   colt walker        SR  14.100
182   colt walker        VT  14.100
608   colt walker        PH  13.900
1204  colt walker        FX  13.850
1007  colt walker        HB  13.800
963   colt walker        HB  13.600
245   colt walker        SR  13.566
610   colt walker        PH  13.550
1233  colt walker        FX  13.550
249   colt walker        SR  13.250
1016  colt walker        HB  13.200
1043  colt walker        HB  13.100
1008  colt walker        HB  13.000
968   colt walker        HB  12.950
602   colt walker        PH  12.800
607   colt walker        PH  12.750
1205  colt walker        FX  12.450
601   colt walker        PH  11.600
1253  colt walker        FX  10.433

In [29]:
from collections import defaultdict

apparatuses = df['Apparatus'].unique()

team_recommendations = defaultdict(list)

for apparatus in apparatuses:
    apparatus_data = df[df['Apparatus'] == apparatus]
    individuals = apparatus_data['Name'].unique()
    
    for individual in individuals:
        predicted_score = model.predict(individual, apparatus).est
        team_recommendations[apparatus].append((individual, predicted_score))

# Sort and select the top 5 individuals for each apparatus
final_team = {}
for apparatus, recommendations in team_recommendations.items():
    recommendations.sort(key=lambda x: x[1], reverse=True)
    final_team[apparatus] = [recommendations[i][0] for i in range(5)]

# Print the final team
for apparatus, team in final_team.items():
    print(f"Apparatus: {apparatus}, Team: {', '.join(team)}")

Apparatus: PB, Team: curran phillips, yul moldauer, asher hong, brody malone, colt walker
Apparatus: VT, Team: khoi young, curran phillips, colt walker, asher hong, donnell whittenburg
Apparatus: PH, Team: stephen nedoroscik, brody malone, yul moldauer, ian skirkey, patrick hoopes
Apparatus: SR, Team: donnell whittenburg, asher hong, colt walker, alex diab, brody malone
Apparatus: HB, Team: brody malone, frederick nathaniel richard, paul juda, colt walker, frederick richard
Apparatus: FX, Team: paul juda, brody malone, colt walker, yul moldauer, frederick nathaniel richard

In [33]:
import pandas as pd
import numpy as np

# Load your dataset
data = df.copy()
# Define your constraints:
# 1. Each person can compete on the same apparatus at most once.
# 2. Each apparatus should be competed on a total of 3 times.
# (You'll need to implement constraint handling accordingly)

# Example of a function to calculate the total score of a team
def calculate_team_score(team):
    return data[data['Name'].isin(team)]['Score'].sum()

# Use optimization algorithms or machine learning models to find the best team
# Implement constraint handling and optimization with the chosen method

# Evaluate and validate the recommended team

In [36]:
import pulp

# Create a PuLP problem
prob = pulp.LpProblem("GymnasticsAssignment", pulp.LpMaximize)

# Define the athletes and apparatus
athletes = df['Name'].unique()
known_apparatus = ['SR', 'PH', 'PB', 'HB', 'FX', 'VT']

# Create binary variables for each athlete and apparatus combination
athlete_vars = pulp.LpVariable.dicts("Athlete", (athletes, known_apparatus), 0, 1, pulp.LpBinary)

# Objective function: Maximize the total average score
athlete_avg_score = {athlete: df[df['Name'] == athlete]['Score'].values[0] for athlete in athletes}
prob += pulp.lpSum(athlete_avg_score[athlete] * pulp.lpSum(athlete_vars[athlete][apparatus] for apparatus in known_apparatus) for athlete in athletes)

# Constraint 1: Each athlete competes on up to 3 apparatus
for athlete in athletes:
    prob += pulp.lpSum(athlete_vars[athlete][apparatus] for apparatus in known_apparatus) <= 6  # Allow each athlete to compete on up to 3 apparatus

# Constraint 2: Each apparatus is used exactly three times
for apparatus in known_apparatus:
    prob += pulp.lpSum(athlete_vars[athlete][apparatus] for athlete in athletes) == 5

# Constraint 3: Select exactly 5 athletes
prob += pulp.lpSum(pulp.lpSum(athlete_vars[athlete][apparatus] for apparatus in known_apparatus) for athlete in athletes) == 5

# Solve the problem
prob.solve()

# Display the results
selected_athletes = [athlete for athlete in athletes if any(pulp.value(athlete_vars[athlete][apparatus]) == 1 for apparatus in known_apparatus)]

for apparatus in known_apparatus:
    print(f"Apparatus {apparatus}:")
    for athlete in selected_athletes:
        if any(pulp.value(athlete_vars[athlete][apparatus]) == 1 for apparatus in known_apparatus):
            scores = df[(df['Name'] == athlete) & (df['Apparatus'] == apparatus)]
            if not scores.empty:
                score = scores['Score'].values[0]
                print(f"{athlete} - {score}")
    print()

# Calculate the total average score
total_average_score = sum(athlete_avg_score[athlete] for athlete in selected_athletes)
print(f"Total Average Score: {total_average_score:.6f}")

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ce0397338444485c91ec8472a840b1ac-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ce0397338444485c91ec8472a840b1ac-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 99 COLUMNS
At line 3232 RHS
At line 3327 BOUNDS
At line 3850 ENDATA
Problem MODEL has 94 rows, 522 columns and 1566 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Problem is infeasible - 0.00 seconds
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

Apparatus SR:
yul moldauer - 14.3
colt walker - 14.2
asher hong - 14.75

Apparatus PH:
yul moldauer - 14.3
colt walker - 13.9
blake sun - 13.95
stephen nedoroscik - 15.05
asher hong - 14.25

Apparatus PB:
yul moldauer - 15.4
colt walker - 15.35
blake sun - 15.35
curran phillips - 15.349999999999998
asher hong - 14.9

Apparatus HB:
yul moldauer - 13.5
colt walker - 13.8
blake sun - 11.7
curran phillips - 14.133
asher hong - 13.65

Apparatus FX:
yul moldauer - 14.7
colt walker - 14.25
asher hong - 14.5

Apparatus VT:
yul moldauer - 14.75
colt walker - 14.65
curran phillips - 14.8
asher hong - 15.05

Total Average Score: 91.550000

In [37]:
dfs=df.copy()

In [38]:
# Apparatus SR:
# frederick richard - 14.0
# paul juda - 13.95
# yul moldauer - 13.985714

# Apparatus PH:
# brandon dang - 14.1
# stephen nedoroscik - 14.726142857142857
# vitaliy guimaraes - 14.35

# Apparatus PB:
# frederick richard - 14.25825
# vitaliy guimaraes - 13.9
# yul moldauer 14.678571

# Apparatus HB:
# frederick richard - 14.183333333333332
# paul juda - 13.649999999999999
# vitaliy guimaraes - 13.4

# Apparatus FX:
# frederick richard - 14.066666666666668
# paul juda - 14.65
# vitaliy guimaraes - 14.25

# Apparatus VT:
# paul juda - 14.325
# vitaliy guimaraes - 14.45
# yul moldauer - 14.250000

# fr=5
# pj=5
# vg=6
# bd=1
# sn=1

In [39]:
from pulp import LpMaximize, LpProblem, LpVariable

In [40]:
import pandas as pd
from pulp import LpMaximize, LpProblem, LpVariable

data=df.copy()

In [41]:
# Create a list of unique athlete names and assign unique IDs
unique_athletes = data["Name"].unique()
athlete_to_id = {athlete: i + 1 for i, athlete in enumerate(unique_athletes)}

# Create a list of unique apparatus
unique_apparatus = data["Apparatus"].unique()

# Create a matrix to store the performance data
num_athletes = len(unique_athletes)
num_apparatus = len(unique_apparatus)
performance_data = [[0] * num_apparatus for _ in range(num_athletes)]

# Populate the performance data matrix
for _, row in data.iterrows():
    athlete = row["Name"]
    apparatus = row["Apparatus"]
    athlete_id = athlete_to_id[athlete]
    apparatus_index = list(unique_apparatus).index(apparatus)
    if not pd.isna(row["Score"]):
        performance_data[athlete_id - 1][apparatus_index] = row["Score"]

# Define the ILP model
model = LpProblem(name="GymnasticsTeamSelection", sense=LpMaximize)

# Decision variables
x = {(i, j): LpVariable(name=f"x_{i}_{j}", cat="Binary") for i in range(1, num_athletes + 1) for j in range(1, num_apparatus + 1)}

# Objective function
model += sum(performance_data[i - 1][j - 1] * x[i, j] for i in range(1, num_athletes + 1) for j in range(1, num_apparatus + 1)), "Total_Value"

# Constraints
# Constraint 1: Select exactly 5 athletes
model += sum(x[i, j] for i in range(1, num_athletes + 1) for j in range(1, num_apparatus + 1)) == 5

# Constraint 2: Each apparatus is used exactly 3 times
for j in range(1, num_apparatus + 1):
    model += sum(x[i, j] for i in range(1, num_athletes + 1)) == 3

# Constraint 3: Athletes cannot compete on the same apparatus more than once
for i in range(1, num_athletes + 1):
    model += sum(x[i, j] for j in range(1, num_apparatus + 1)) <= 1

# Solve the ILP
model.solve()

# Check if a feasible solution exists
if model.status != 1:
    print("No feasible solution found.")
else:
    # Track the selected team
    selected_team = []

    for i in range(1, num_athletes + 1):
        for j in range(1, num_apparatus + 1):
            if x[i, j].varValue == 1:
                selected_team.append((unique_athletes[i - 1], unique_apparatus[j - 1]))

    # Print the selected team
    print("Selected Gymnastics Team:")
    for athlete, apparatus in selected_team:
        print(f"Athlete: {athlete}, Apparatus: {apparatus}")

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/c3c55a5daa554e1d8b955726064ae6fb-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/c3c55a5daa554e1d8b955726064ae6fb-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 99 COLUMNS
At line 3156 RHS
At line 3251 BOUNDS
At line 3774 ENDATA
Problem MODEL has 94 rows, 522 columns and 1566 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Problem is infeasible - 0.00 seconds
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

No feasible solution found.

In [43]:
df

                     Name Apparatus  Score
723          yul moldauer        PB  15.40
836           colt walker        PB  15.35
822             blake sun        PB  15.35
796       curran phillips        PB  15.35
797       curran phillips        PB  15.30
...                   ...       ...    ...
1412  taylor christopulos        FX   9.25
989          alex tapanes        HB   9.00
611          matt cormier        PH   8.95
552         evan manivong        PH   6.15
595        anthony koppie        PH   4.65

[1417 rows x 3 columns]

In [44]:
df['Name'].value_counts()

Name
asher hong            59
yul moldauer          42
riley loos            42
jeremy bischoff       36
landen blixt          36
                      ..
drake andrews          4
spencer goodell        2
ian hunter skirkey     1
brandon dang           1
troy lipis             1
Name: count, Length: 87, dtype: int64

In [46]:
grouped = df.groupby(['Name', 'Apparatus'])['Score'].agg(Avg_Score='mean').reset_index()

In [48]:
grouped['Name'].value_counts()

Name
zachary nunez           6
taylor christopulos     6
kameron nelson          6
joshua karnes           6
joshua andrew karnes    6
                       ..
stephen nedoroscik      1
ian skirkey             1
ian hunter skirkey      1
troy lipis              1
brandon dang            1
Name: count, Length: 87, dtype: int64

In [49]:

#     Asher Hong
#     Yul Moldauer
#     Fred Richard
#     Khoi Young
#     Vitaliy Guimaraes

In [52]:
specified_athletes = ['asher hong', 'yul moldauer', 'fred richard', 'khoi young', 'vitaliy guimaraes']

# Create a new DataFrame with only the specified athletes
new_df = grouped[grouped['Name'].isin(specified_athletes)]

In [54]:
new_df['Name'].value_counts()

Name
asher hong           6
fred richard         6
khoi young           6
vitaliy guimaraes    6
yul moldauer         6
Name: count, dtype: int64

In [58]:
new_df

                  Name Apparatus  Avg_Score
27          asher hong        FX  13.825778
28          asher hong        HB  12.111111
29          asher hong        PB  14.705556
30          asher hong        PH  13.248300
31          asher hong        SR  14.199900
32          asher hong        VT  14.338667
152       fred richard        FX  13.550000
153       fred richard        HB  13.212500
154       fred richard        PB  13.987500
155       fred richard        PH  12.812500
156       fred richard        SR  13.075000
157       fred richard        VT  14.000000
271         khoi young        FX  14.000000
272         khoi young        HB  13.237500
273         khoi young        PB  14.100000
274         khoi young        PH  13.460000
275         khoi young        SR  13.000000
276         khoi young        VT  14.775000
425  vitaliy guimaraes        FX  14.250000
426  vitaliy guimaraes        HB  13.400000
427  vitaliy guimaraes        PB  13.900000
428  vitaliy guimaraes        PH  14.350000
429  vitaliy guimaraes        SR  13.600000
430  vitaliy guimaraes        VT  14.450000
434       yul moldauer        FX  13.954125
435       yul moldauer        HB  12.458333
436       yul moldauer        PB  14.678571
437       yul moldauer        PH  13.607143
438       yul moldauer        SR  13.985714
439       yul moldauer        VT  14.250000

In [67]:
import pandas as pd
import pulp

# Sample DataFrame with athlete names, apparatus, and scores

df = new_df

# List of athletes to choose from
athletes = df['Name'].to_list()

# Number of athletes to choose
num_to_choose = 4

# Create a binary decision variable for each athlete
chosen_vars = pulp.LpVariable.dicts("Chosen", athletes, cat='Binary')

# Create a PuLP problem
problem = pulp.LpProblem("Athlete_Apparatus_Assignment", pulp.LpMaximize)

# Objective function: maximize the combined score of chosen athletes
problem += pulp.lpSum(chosen_vars[athlete] * df.loc[df['Name'] == athlete, 'Avg_Score'].values[0] for athlete in athletes)

# Constraints
# Choose exactly 4 athletes
problem += pulp.lpSum(chosen_vars[athlete] for athlete in athletes) == num_to_choose

# Each athlete can compete on each apparatus once
for athlete in athletes:
    problem += pulp.lpSum(chosen_vars[athlete] for apparatus in df['Apparatus']) == 1

# Each apparatus needs to be competed on 3 times
for apparatus in df['Apparatus'].unique():
    problem += pulp.lpSum(chosen_vars[athlete] for athlete in athletes if df.loc[df['Name'] == athlete, 'Apparatus'].values[0] == apparatus) == 3

# Solve the problem
problem.solve()

# Print the results
chosen_athletes = [athlete for athlete in athletes if pulp.value(chosen_vars[athlete]) == 1]

print("Chosen Athletes:")
for athlete in chosen_athletes:
    print(athlete)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/369936bc6f784c8fb2295a5942d315c2-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/369936bc6f784c8fb2295a5942d315c2-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 42 COLUMNS
At line 98 RHS
At line 136 BOUNDS
At line 142 ENDATA
Problem MODEL has 37 rows, 5 columns and 40 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Problem is infeasible - 0.00 seconds
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

Chosen Athletes:

In [65]:
df

                  Name Apparatus  Avg_Score
27          asher hong        FX  13.825778
28          asher hong        HB  12.111111
29          asher hong        PB  14.705556
30          asher hong        PH  13.248300
31          asher hong        SR  14.199900
32          asher hong        VT  14.338667
152       fred richard        FX  13.550000
153       fred richard        HB  13.212500
154       fred richard        PB  13.987500
155       fred richard        PH  12.812500
156       fred richard        SR  13.075000
157       fred richard        VT  14.000000
271         khoi young        FX  14.000000
272         khoi young        HB  13.237500
273         khoi young        PB  14.100000
274         khoi young        PH  13.460000
275         khoi young        SR  13.000000
276         khoi young        VT  14.775000
425  vitaliy guimaraes        FX  14.250000
426  vitaliy guimaraes        HB  13.400000
427  vitaliy guimaraes        PB  13.900000
428  vitaliy guimaraes        PH  14.350000
429  vitaliy guimaraes        SR  13.600000
430  vitaliy guimaraes        VT  14.450000
434       yul moldauer        FX  13.954125
435       yul moldauer        HB  12.458333
436       yul moldauer        PB  14.678571
437       yul moldauer        PH  13.607143
438       yul moldauer        SR  13.985714
439       yul moldauer        VT  14.250000

In [73]:
# new_df

In [131]:
import pandas as pd



df = new_df

# Sort the DataFrame by average score in descending order
df_sorted = df.sort_values(by='Avg_Score', ascending=False)

# Initialize an empty dictionary to store the selected athletes for each apparatus
selected_athletes = {}

# Iterate over each apparatus
for apparatus in df_sorted['Apparatus'].unique():
    # Select the top 3 athletes for the current apparatus
    selected_athletes[apparatus] = df_sorted[df_sorted['Apparatus'] == apparatus].head(3)['Name'].tolist()

# Select the top 4 athletes based on the sum of their average scores
selected_team = df_sorted.head(4)['Name'].tolist()

print("Selected Team:")
print(selected_team)
print("\nSelected Athletes for Each Apparatus:")
print(selected_athletes)

Selected Team:
['khoi young', 'asher hong', 'yul moldauer', 'vitaliy guimaraes']

Selected Athletes for Each Apparatus:
{'VT': ['khoi young', 'vitaliy guimaraes', 'asher hong'], 'PB': ['asher hong', 'yul moldauer', 'khoi young'], 'PH': ['vitaliy guimaraes', 'yul moldauer', 'khoi young'], 'FX': ['vitaliy guimaraes', 'khoi young', 'yul moldauer'], 'SR': ['asher hong', 'yul moldauer', 'vitaliy guimaraes'], 'HB': ['vitaliy guimaraes', 'khoi young', 'fred richard']}

In [132]:
data = {
    'Apparatus': ['VT', 'VT', 'VT', 'PB', 'PB', 'PB', 'PH', 'PH', 'PH', 'FX', 'FX', 'FX', 'SR', 'SR', 'SR', 'HB', 'HB', 'HB'],
    'Name': ['khoi young', 'vitaliy guimaraes', 'asher hong', 'asher hong', 'yul moldauer', 'khoi young', 'vitaliy guimaraes', 'yul moldauer', 'khoi young', 'vitaliy guimaraes', 'khoi young', 'yul moldauer', 'asher hong', 'yul moldauer', 'vitaliy guimaraes', 'vitaliy guimaraes', 'khoi young', 'fred richard']
}

df = pd.DataFrame(data)

In [133]:
df

   Apparatus               Name
0         VT         khoi young
1         VT  vitaliy guimaraes
2         VT         asher hong
3         PB         asher hong
4         PB       yul moldauer
5         PB         khoi young
6         PH  vitaliy guimaraes
7         PH       yul moldauer
8         PH         khoi young
9         FX  vitaliy guimaraes
10        FX         khoi young
11        FX       yul moldauer
12        SR         asher hong
13        SR       yul moldauer
14        SR  vitaliy guimaraes
15        HB  vitaliy guimaraes
16        HB         khoi young
17        HB       fred richard

In [94]:
vt=df[df['Apparatus']=='VT']

In [95]:
fx=df[df['Apparatus']=='FX']

In [96]:
hb=df[df['Apparatus']=='HB']

In [97]:
pb=df[df['Apparatus']=='PB']

In [98]:
ph=df[df['Apparatus']=='PH']

In [99]:
sr=df[df['Apparatus']=='SR']

In [101]:
sr.sort_values(by='Avg_Score', ascending=False)

                  Name Apparatus  Avg_Score
31          asher hong        SR  14.199900
438       yul moldauer        SR  13.985714
429  vitaliy guimaraes        SR  13.600000
156       fred richard        SR  13.075000
275         khoi young        SR  13.000000

In [102]:
vt.sort_values(by='Avg_Score', ascending=False)

                  Name Apparatus  Avg_Score
276         khoi young        VT  14.775000
430  vitaliy guimaraes        VT  14.450000
32          asher hong        VT  14.338667
439       yul moldauer        VT  14.250000
157       fred richard        VT  14.000000

In [103]:
pb.sort_values(by='Avg_Score', ascending=False)

                  Name Apparatus  Avg_Score
29          asher hong        PB  14.705556
436       yul moldauer        PB  14.678571
273         khoi young        PB  14.100000
154       fred richard        PB  13.987500
427  vitaliy guimaraes        PB  13.900000

In [104]:
ph.sort_values(by='Avg_Score', ascending=False)

                  Name Apparatus  Avg_Score
428  vitaliy guimaraes        PH  14.350000
437       yul moldauer        PH  13.607143
274         khoi young        PH  13.460000
30          asher hong        PH  13.248300
155       fred richard        PH  12.812500

In [105]:
sr.sort_values(by='Avg_Score', ascending=False)

                  Name Apparatus  Avg_Score
31          asher hong        SR  14.199900
438       yul moldauer        SR  13.985714
429  vitaliy guimaraes        SR  13.600000
156       fred richard        SR  13.075000
275         khoi young        SR  13.000000

In [106]:
fx.sort_values(by='Avg_Score', ascending=False)

                  Name Apparatus  Avg_Score
425  vitaliy guimaraes        FX  14.250000
271         khoi young        FX  14.000000
434       yul moldauer        FX  13.954125
27          asher hong        FX  13.825778
152       fred richard        FX  13.550000

In [117]:
hb.sort_values(by='Avg_Score', ascending=False)

                  Name Apparatus  Avg_Score
426  vitaliy guimaraes        HB  13.400000
272         khoi young        HB  13.237500
153       fred richard        HB  13.212500
435       yul moldauer        HB  12.458333
28          asher hong        HB  12.111111

In [112]:
#vt
14.775000+14.450000+14.338667

43.563667

In [113]:
#sr
14.199900+13.985714+13.600000

41.785614

In [114]:
#pb

14.705556+14.678571+14.100000

43.484127

In [115]:
#ph
14.350000+13.607143+13.460000

41.417143

In [116]:
#fx

14.250000+14.000000+13.954125

42.204125

In [140]:
#hb
13.400000+13.237500+12.458333

39.095833

In [141]:
39.095833+42.204125+41.417143+43.484127+41.785614+43.563667

251.55050900000003